:root {
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

html {
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Kumbh Sans';
    font-size: 15px;
    color: var(--white);
    background-color: var(--very-dark-blue);
    max-height: 100%;
    max-width: 100%;
}

.rating-container, .thank-you-container {
    background-color: var(--dark-blue);
    width: 375px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 10%;
}

.rating-container {
    display: none;
}

.rating-contents, .thank-you-contents {
    padding: 8%;
}

.star-icon {
    width: 20px;
    background-color: hsla(216, 12%, 54%, 0.1);
    padding: 15px;
    border-radius: 50%;
}

h1 {
    margin-bottom: 0px;
}

p {
    color: var(--light-grey);
    line-height: 1.5;
    margin-bottom: 8%;
}

.numbers {
    font-size: 1rem;
    color: var(--light-grey);
    margin: auto 0px 8%;
    display: flex;
    justify-content: space-evenly;
}

.number-item {
    background-color: hsla(216, 12%, 54%, 0.1);
    color: var(--light-grey);
    padding: 14px 18px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    border: none;
    font-size: 15px;
}

.number-item:hover {
    background-color: var(--medium-grey);
    color: var(--white);
    transition: 0.3s;
    cursor: pointer;
}

.number-item:focus {
    background-color: var(--orange);
    color: var(--white);
}

.submit-btn {
    background-color: var(--orange);
    border: none;
    color: var(--white);
    padding: 13px 10px;
    margin: auto;
    width: 100%;
    font-size: 0.9rem;
    border-radius: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: var(--white);
    color: var(--orange);
}

/* Thank you Design */

.thank-you-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thank-you-img {
    margin: auto auto 25px;
}

.rating-result {
    background-color: hsla(216, 12%, 54%, 0.1);
    color: var(--orange);
    padding: 8px 15px;
    border-radius: 50px;
    width: fit-content;
    margin: auto;
}

.thank-you-contents p {
    text-align: center;
}